*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    background-color: black;
    color: rgb(225, 219, 209);
}
.primaryButton {
    display: inline-block;
    background-color: #ff6347;
    color: white;
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 99, 71, 0.5);
    transition: all 0.3s ease-in-out;
  }
  
  .primaryButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 99, 71, 0.7);
  }
  